<h1>Lista de profesionales</h1>
<hr>

<div class="filtro">
  <input 
    type="text" 
    [(ngModel)]="textoFiltro" 
    placeholder="Buscar por nombre, especialidad o correo" 
  />
</div>

<div *ngIf="estado$ | async as estado">
  
  <div *ngIf="estado.loading">
    <p>Cargando profesionales...</p>
  </div>
  
  <div *ngIf="estado.error" class="error">
    <p>{{ estado.error }}</p>
  </div>

  <div *ngIf="!estado.loading && !estado.error && filtrarProfesionales(estado.data).length === 0">
    <p>No hay profesionales disponibles para mostrar.</p>
  </div>

  <!-- TABLA HORIZONTAL -->
  <div *ngIf="!estado.loading && !estado.error && filtrarProfesionales(estado.data).length > 0">
    <table class="tabla-profesionales">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Especialidad</th>
          <th>Estado</th>
          <th>Servicios</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profesional of filtrarProfesionales(estado.data)">
          <td>{{ profesional.nombre }}</td>
          <td>{{ profesional.especialidad }}</td>
          <td>
            <span class="badge" [ngClass]="{ 'activo': profesional.activo, 'inactivo': !profesional.activo }">
              {{ profesional.activo ? 'Activo' : 'Inactivo' }}
            </span>
          </td>
            <td class="servicios-list">
                {{ obtenerNombresServicios(profesional.servicios) }}
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
